__pycache__/
*.py[cod]
.venv/
venv/
*.h5
*.hdf5
*.log
*.npy
*.npz
*.dat
*.bin
*.tif
*.tiff
*.png
wfield_local_test/
wfield_local_results/
**/wfield_local_results/
.idea/
.vscode/
*.svg
_ps93dis/
_ps104/
_photobleach_out*/

# build artifacts
*.egg-info/
__pycache__/
*.pyc
.pytest_cache/
